<% include ../partials/header %>

<script>
    $(document).ready(function() {
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
        event.preventDefault();
        return false;
        }
    })
    })
</script>

<div class='container text-center namePage'>
    <h1> Abrir Nova Comanda</h1>
</div>
<div class='container my-3' >
    <a href='/admin'><button type='button' class='btn btn-primary' id='voltar' style='width: 7rem;'> Voltar </button></a>    
</div>

<div class='container' style="margin-bottom: 125px">
    <div class='card formNova my-4 '>
        <div class="card-header  cardHeader">
            <div>
                <h5 class="text-center">Comanda de Serviços Net Link</h5> 
            </div>
        </div>
        <div class='card-body cardBody'>
            <div class='card CardContent my-3 px-3'>
                <form class='py-3' method='post' action='' >
                    <div class='form-group ' >
                        <div class="row ">
                            <div class="form-group col-md-5">
                                <label for="client">Cliente:</label>
                                <input class='form-control fieldNew' type='text' id='client' name='client'>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fone">Telefone:</label>
                                <input type="text" class="form-control fieldNew text-center" id="phone" name='phone' >
                            </div>
                            <div class="form-group col-md-4">
                                <label for="emailClient">E-mail / Rede Social:</label>
                                <input type="email" class="form-control fieldNew" id="socialMedia" name='socialMedia' >
                            </div>
                        </div>                        
                                <div class="row ">
                                    <div class="form-group col-md-2">
                                        <label for="copy">Cópia:</label>
                                        <select type="text" class="form-control fieldNew" id="copy" name='copy' >
                                            <option></option>
                                            <option>Colorida Jato</option>
                                            <option>Colorida Laser</option>
                                            <option>Preto e Branco</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label for="quant">Quant:</label>
                                        <input type="text" class="form-control fieldNew" id="copyQ" name='copyQ' >
                                                    
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Folhas:</label>
                                        <select type="text" class="form-control fieldNew" id="sheets" name='sheets' >
                                            <option>Frente</option>
                                            <option>Frente e Verso</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Tamanho:</label>
                                        <select type="text" class="form-control fieldNew" id="size" name='size' placeholder="digite o telefone do cliente">
                                            <option>Normal</option>
                                            <option>Reduzido</option>
                                            <option>Ampliado</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="fone">Outros Serviços</label>
                                        <select type="text" class="form-control fieldNew" id="otherServices" name='otherServices' placeholder="digite o telefone do cliente">
                                            <option></option>
                                            <option>Encadernar</option>
                                            <option>Plastificar</option>
                                            <option>Outro Serviço</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="fone">Cor:</label>
                                        <select type="text" class="form-control fieldNew" id="color" name='color' placeholder="digite o telefone do cliente">
                                            <option></option>
                                            <option>Incolor</option>
                                            <option>Fumê</option>
                                            <option>Preto</option>
                                        </select>
                                    </div>
                                </div>

                          
                                <hr/>
                                <div class="row ">
                                    <div class="col-md-12 text-center"> 
                                        <label class='mb-2 ' for="comentário">Descrição do Serviço:</label>
                                        <textarea class='form-control fieldNew' name='comments' rows="2" cols=""> </textarea>
                                    </div>
                                    
                                </div>
                                <hr />
                                <div class="row mt-3">
                                    <div class="form-group col-md-3">
                                        <label for="client">Valor Total:</label>
                                        <input type="text" class="form-control fieldNew" id="valueJobTotal" name='valueJobTotal' placeholder='R$'>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="dateNow">Valor Entrada:</label>
                                        <input type="text" class="form-control fieldNew" id="valueJobInit" name='valueJobInit' placeholder='R$'>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="fone">Pagamento:</label>
                                            <select type="text" class="form-control fieldNew" id="isSold" name='isSold' placeholder="digite o telefone do cliente">
                                                <option></option>
                                                <option>Tudo Pago!</option>
                                                <option>Parcial</option>
                                                <option>Não Pago</option>
                                            </select>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class='ml-3'> Guichê: </h5>
                                        <select type="text" class="form-control my-1 fieldNew " id="box" name='box' placeholder="digite o telefone do cliente">
                                            <option></option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </div>
                                    
                                    
                                </div>                                    
                                <hr />
                                <div class='row'>
                                    <div class="form-group col-md-3 ">
                                        <label class='mr-auto mb-2' for="status">Status</label>
                                        <select class="form-control payment" id='status' name='status'>
                                            <option value='aberta'>Aberta</option>
                                            <option value='executando'>Executando</option>
                                            <option value='fechada'>Fechada</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="fone">Loja:</label>
                                         <select class="form-control fieldNew" name="store">
                                        <% stores.forEach(store => { %>
                                        <option  value="<%= store._id %>"> <%= store.name %> </option>
                                        <% }) %>
                                </select>  
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="fone">Funcionária:</label>
                                        <select class="form-control fieldNew" name="name" id='name'>
                                        <% employees.forEach(employee => { %>
                                        <option  value="<%= employee.name %>"> <%= employee.name %> </option>
                                        <% }) %>
                                </select>  
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="datenow">Data de Entrega:</label>
                                       <input class="form-control fieldNew" type="date" id="delivery" name='delivery' >
                                    </div>
                                </div>
                                <hr />
                                <% if('user' in locals ){ %>
                                <h6 class='userCreateComanda'><small> Comanda aberta por:</small>&nbsp; <%= locals.user.username %> </h6>
                                <% } %> 
                                <div class='btnNova'>
                                <button class='btn btn-primary mr-2 mt-3' style='width: 7rem;'>Salvar</button>
                                <a href='/admin'> <button type='button' class='btn btn-secondary  mt-3' style='width: 7rem;'>Cancelar</button></a>
                                </div>
                            </div> 
                        </form>
                     </div>   
                 </div>
            </div>    
        </div>
         <script type="text/javascript">
          $("#valueJobTotal , #valueJobInit").mask("099.00", {reverse: true});
            $("#phone").mask("(99) 99999-9999");

        </script>


<% include ../partials/footer %>